h1 {
  color: red;
}
big{
  color:blue;
}
asteroid{
  border: solid green 1px;
}
p{
  background: yellow;
  font-weight: normal;
}
div{
  font-weight: bold;
}
.nagy{
width: 50px;
height: 50px;
}
.a0a1{
  width: 50px;
  height: 50px;
}
section{
  width: 700px;
  border: solid 1px blue;
  display: flex;
}
